:root{
    --background: #111;
    --blank: #999;
    --locked: #444;
    --badKey: #222;
    --right: #279277;
    --wrong: #b39037;
    --purp: #8067B7;
}


body{
    background-color: var(--background);
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: #fffC;
    overflow: auto;
    position: absolute;
    user-select: none;
    
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
*,*::before{
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.topBar,.mainPanel{
    margin: auto;
    z-index: 2;
}

.topBar{
    height: 10vh;
    width: var( --width );
}

.mainPanel{
    height: 60vh;
    width: var( --width );
}

.keyboard.mobile{
    z-index: 1;
    width: var( --width );
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 2;
}
.keyBoard{
    z-index: 1;
    width: var( --width );
    height: 30vh;
    margin: auto;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.keyboardRow{
    width: 100%;
    display: flex;
    justify-content: center;
}

.key{
    height: 5vh;
    width: 3.5vh;
    background-color: #666;
    border-radius: 0.5vh;
    margin: 0.25vh;
    font-size: 1.75vh;
    transition: all 0.5s;
    cursor: pointer;
}
.doubleKey{
    width: 5.5vh;
    font-size: 2vh;
}
.Mkey{
    height: 13vw;
    width: 9vw;
    background-color: #666;
    border-radius: 0.5vh;
    margin: 0.5vw;
    font-size: 1.75vh;
    transition: all 0.5s;
    cursor: pointer;
}
.MdoubleKey{
    width: 13.5vw;
    font-size: 2vh;
}

.key,.Mkey,.mainPanel,.guessRow,.cell,.feedback,.modal,.modalBox,.button,.statsLeft,.statsRight,.statNum,.outcome{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainPanel{
    flex-direction: column;
}
.guessRow{
    flex-direction: row;
}
.cell{
    margin: 0.5vh;
    width: 7vh;
    height: 7vh;
    font-size: 4vh;
    transition: all 200ms ease-out;
}
.bounce{
    font-size: 4.5vh;
}
.blank{ background-color: #999; }
.right{ background-color: var( --right ); }
.wrong{ background-color: var( --wrong ); }
.locked{ background-color: var( --locked ); }
.badKey{ background-color: var( --badKey ); }

.feedback{
    width: 100%;
    height: 4em;
    opacity: 1;
    transition: all ease-out 2s;
    transition-delay: 1s;
    font-size: 4.5vh;
}
.fade{ opacity: 0; }

.modal{
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: absolute;
    background-color: #111b;
}
.modalBox{
    width: 40vh;
    height: 75vh;
    background-color: #222;
    flex-direction: column;
    position: relative;
    font-size: 4vh;
    padding: 3vh 2vh 4vh 2vh;
    justify-content: space-between;    
}

.modal.unshown,.modalBox.unshown{
    display: none;
}

.img{
    width: 2vh;
    height: 2vh;
}
.close{
    position: absolute;
    top: 1vh;
    right: 1vh;
    cursor: pointer;
    background-image: url(./close.png);
}

.button{
    width: 20vh;
    height: 4vh;
    font-size: 2vh;
    background-color: var(--right);
    cursor: pointer;
}
.diffChange{    
    width: 4vh;
    height: 4vh;
    border-radius: 2vh;
    font-size: 2vh;
    background-color: var(--purp);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.diffChange.dull{
    background-color: var(--locked);
    cursor: auto;
}
.modalBottom{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#share{
    width: 20vh;
    height: 20vh;
}
.stats{
    width: 100%;
    height: 20vh;
    position: relative;
    font-size: 1.5vh;
}

.statsRow{
    width: 100%;
    height: 12.5%;
    display: flex;
}
.statsLeft{
    width: 20%;
    height: 100%;
    justify-content: right;
    padding-right: 1vh;
}
.statsRight{
    width: 10%;
    height: 100%;
    justify-content: left;
    padding-right: 1vh;
}
.statNum,.statBar{
    width: 70%;
    height: 100%;
    justify-content: start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.barFill{
    height: 50%;
    background-color: white;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.outcome{
    text-align: center;
}
.answer{
    font-size: 2.5vh;
}
.welcome{
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sample{
    width: 5vh;
    height: 5vh;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    :root{
        --width: 100vw;
    }
}
@media ( min-width: 1001 ) {
    :root{
        --width: 40vw;
    }
}